body {
    display:flex;
    box-sizing: border-box;
    font-size: 20px;
    flex-direction: column;
    background-color: cornsilk;
}

header {
    height: 50px;
    width: 100%;
    color: white;
    background-color: black;
}

nav {
    display: flex;
    background-color: cadetblue;
    justify-content: flex-end;
    align-content: flex-end;
    color: white;
    height: 100px;
}

ul, li {
    display: flex;
    padding: 5px;

}

main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    box-sizing: content-box;
    width: 25%;
}



section {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    background-color: lightslategray;
    width: 70%;
}

h2 {
    box-sizing: content-box;
    width: 100%;
    background-color: chocolate;

}

p {
    display:flex;    
    text-align: left
}

li:hover {
    color: cadetblue;
    background-color: white;
}
