body {
    display:flex;
    box-sizing: border-box;
    font-size: 20px;
    flex-direction: column;
    background-color: cornsilk;
}

header {
    height: 50px;
    width: 100%;
    color: white;
    background-color: black;
}

nav {
    display: flex;
    background-color: cadetblue;
    justify-content: flex-end;
    color: white;
    height: 100px;
}

ul, li {
    display: flex;
    padding: 5px;

}

main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    box-sizing: content-box;
    width: 25%;
    margin: 10px;
}

aside p {
    margin: 10px
}

.profile-pic {  
    height: 25%;
    border-radius: 50%;
    border: 10px;
    border-style: solid;
    border-color: springgreen;
    margin: 10px;
}

section, div {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    box-sizing: content-box;
    background-color: lightslategray;
    width: 70%;
    margin: 20px;
}

section > img {
    width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

h2 {
    box-sizing: content-box;
    width: 100%;
    background-color: chocolate;

}

p {
    display:flex;    
    text-align: left
}

li:hover {
    color: cadetblue;
    background-color: white;
}